{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href={% static 'staticuser.css'%}>
    <meta charset="utf-8">
    <title>
صفحه ورود
    </title>
  </head>
  <body>
    <h2>
<h3><a href="http://127.0.0.1:7000/">صفحه خانه</a></h3>
    </h2>
    {%block content%}
    <center>
    <h1>صفحه ورود</h1>
    </center>
    <form class="" action="{% url 'accounts:login'%}" method="post">
      {{form}}
      {%csrf_token%}
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">

      {% endif %}
      <input type="submit" name="" value="ورود به سایت  ">

    </form>



    {%endblock%}
  </body>
</html>
