{%load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href={% static 'rezome.css'%}>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <nav class="mainNav">
        <ul>
            <li><a href="#" data-title="مشخصات">مشخصات</a></li>
            <li><a href="#" data-title="مئارک و دوره ها">مدارک و دوره ها</a></li>
            <li><a href="#" data-title="سابقه کاری">سابقه کاری</a></li>
            <li><a href="#" data-title="پروژه ها">پروژه ها</a></li>
            <li><a href="http://127.0.0.1:7000/" data-title=" Home Page ">صفحه خانه</a></li>
        </ul>
    </nav>
</center>
  </body>
</html>
